---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	
	<section class="page-content">
		<div class="container">
			
			<div class="video_showcase">
				<p>
					<iframe width="960" height="540" src="https://www.youtube-nocookie.com/embed/videoseries?list=PLeTlEEB2MZX4DD7AekVNw2bwBUz4uNBad" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>				</p>

			</div>
		<div class="video_description">
			<h3>#XeroBytes Season 2 Episode 03 - #Hyprland is out of control!</h3>
			<hr>
				<p class="video_text">
					In this episode of the #XeroBytes podcast we have a special guest, Vaxry from the #Hyprland & #Hypr fame, so that's gonna be the main topic among other #Linux things.
				</p>
		</div>

		<div class="button_group">
			<div class="button">
				<a href="https://xerolinux.xyz" class="button_text" target="_blank">
					Download XeroLinux →
				</a>
			</div>
			<div class="button">
				<a href="https://anchor.fm/xerobytes" class="button_text" target="_blank">
					Audio version →
				</a>
			</div>
			<div class="button">
				<a href="https://forum.xerolinux.xyz/" class="button_text" target="_blank">
					Visit our forum →
				</a>
			</div>
		</div>

		
		</div>
	</section>
</Layout>
